<div class="container max1024">

    <div class="flex">

        <div class="col-sm-12 col-md-7 col-lg-7 text-box">
            <h1>Invest With Confidence</h1>
            <h2>Our unique fixed-income pensioner bonds give you the comfort of knowing your money is always working hard for you, earning regular interest.</h2>
            <ul>
                <li>Get returns of up to 4.32% per annum.</li>
                <li>100% record on full repayments, with interest!</li>
                <li>Easy, online application. No fees, no fuss.</li>
                <li>One-year bonds, extendable up to five years </li>
            </ul>
            <div class="row action-btn" [ngStyle]="{visibility:'hidden'}">
                <basset-yellow-btn [title]="'Find out more'"></basset-yellow-btn>
            </div>

        </div>

    </div>


</div>