.header {
    color: #fff;
    background: #1f384d;
    height: auto;
    overflow: hidden;
    /*padding: 10px;*/
    font-size: 1.7em;
    font-family: PT Sans Narrow,sans-serif;
    display: flex;
    padding: 10px;
}
.header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 150px;
}
/*.header-call {*/
/*margin-right: 40px;*/
/*margin-top: 12px;*/
/*font-size: 1.7em;*/
/*text-align: right;*/
/*}*/
.header-call a {
    color:white;
    text-decoration:none;
}
.header-call {
    font-size: 14px;
}

@media screen and (min-width: 768px) {

    .header-call {
        font-size: 1.7em;
    }

}