


@media screen and (min-width: 1200px) {

    .sticky-container {
        position: absolute;
        top: 110px;
        z-index: 1;
        width: 100%;
        height:0;
        /*pointer-events: none;*/
    }
    .sticky-container div {
        height:0;
    }

}