.basset-yellow-btn {
    text-transform: uppercase;
    color: #002e5b;
    font-size: 2rem;
    background: #fde428;
    border-radius: 8px;
    font-family: PT Sans,sans-serif;
    font-weight: bold;
    border: 0;
    padding: 12px 40px;
    flex-grow: 10;
    cursor: pointer;
}