:host {
    color:#adadad;
    background: white;
}
.checkbox {
    display: flex;
    margin: 20px 0;
    font-size: 0.9em;
}
.checkbox-mark {
    margin-right: 10px;
    background-color: none;
}

.form-slider {
    margin: 10px;
}
input::-webkit-input-placeholder {
    color:#d8d8d8;
}
input{
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #d8d8d8;
    font-size: 1.1em;
    font-family: PT Sans Narrow,sans-serif;
    font-weight: 100;
    /*margin-right: 10px;*/
    flex-grow: 10;
    margin-top:15px;
}

h2 {
    color:#002e5b;
    font-size: 1.3em;
    line-height:1.4em;
    padding:0;
    text-transform: uppercase;
    margin:0;
    font-weight: 700;
}

:host >>> .noUi-base {
    background:#fde428;
}

.info-form {
    font-size: 14px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    min-height: 490px;
    margin-top: 30px;
    border: 1px solid #d3d3d3;
}
.value {
    color: #adadad;
    padding:0;
}
.value-current {
    color: #002e5b;
    border: 2px solid #fde428;
    padding: 1px 15px;
    border-radius: 5px;
    font-weight: 700;
    /*font-family: "PT Sans Narrow",sans-serif;*/
}
.slider-text {
    font-weight: 400;
    color: #adadad;
    font-size: 1.1em;
}

.submit {
    display: flex;
}
.submit-text {
    text-transform: uppercase;
    color: #002e5b;
    font-size: 1.5em;
    background: #fde428;
    border-radius: 8px;
    font-family: PT Sans Narrow,sans-serif;
    font-weight: bold;
    border: 0;
    padding: 12px 10px;
    flex-grow: 10;
    cursor: pointer;

}
@media screen and (min-width: 1200px) {

    .info-form {
        width:300px;
        margin-top: 0;
        margin-left: auto;
    }

}