.parralax-box {

    /* Set a specific height */
    height: 520px;

    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;*/
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    position: relative;
}
.testimonial-wrapper {
    background: rgba(49, 39, 52, 0.45);
    color: white;
    font-size: 1.3em;
    font-weight: 200;
    font-style: italic;
    padding: 40px;
    bottom: 60px;
    width: 90%;
    max-width: 640px;
    position: absolute;
    left: 0;
}